{% extends 'base.html' %}
{% block main %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
</head>
<p>{{ user.id }}'s items </p>
<p>Order Date: {{ order.metadata.created_at }}</p>

{% if message %}
    <p>No orders avaliable</p>
{% endif %}

{% if orders %}
    <table>
        <tr>
            <th>Upc</th>
            <th>Item</th>
            <th>Paid</th>
        </tr>
        
        {% for item in order.line_items %}
        <tr>
            
            <td>{{ item.metadata.upc }}</td>
                <td>{{ item.name }}</td>
                <td>${{ "%.2f"|format(item.base_price_money.amount / 100) }}</td>
            
        </tr>
      
        {% endfor %}
    </table>
{% else %}
    <p>{{ message }}</p>
{% endif %}



<button type="button" class="button" onclick="simple_action('{{ url_for('orders') }}')">Back to Orders</button>&nbsp;&nbsp;
<script type="text/javascript">
    function simple_action(target) {
        window.location = target;
    }

    function confirmed_action(target) {
        if (confirm('Are you sure?')) {
            window.location = target;
        }
    }
</script>
{% endblock %}
